# Prediction using keras tuner and keras

Let us import pandas to read our csv file.

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('Dataset/train_clean_data.csv')

In [4]:
df.head()

,Total_Stops,Price,Journey_Month,Journey_Day,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Duration_hour,Duration_min,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,3897,3,24,22,20,1,10,2,50,...,0,0,0,0,0,0,0,0,0,1
1,2,7662,5,1,5,50,13,15,7,25,...,0,0,0,1,0,0,0,0,0,0
2,2,13882,6,9,9,25,4,25,19,0,...,0,0,1,0,0,1,0,0,0,0
3,1,6218,5,12,18,5,23,30,5,25,...,0,0,0,1,0,0,0,0,0,0
4,1,13302,3,1,16,50,21,35,4,45,...,0,0,0,0,0,0,0,0,0,1

Let us assign price as output and rest all of the columns as input.

In [5]:
X=df.drop(['Price'],axis=1)
y=df[['Price']]
X=X.iloc[:,:].values
y=y.iloc[:,:].values

In [6]:
X

array([[ 0,  3, 24, ...,  0,  0,  1],
       [ 2,  5,  1, ...,  0,  0,  0],
       [ 2,  6,  9, ...,  0,  0,  0],
       ...,
       [ 0,  4, 27, ...,  0,  0,  0],
       [ 0,  3,  1, ...,  0,  0,  1],
       [ 2,  5,  9, ...,  0,  0,  0]], dtype=int64)

In [7]:
X.shape

(10682, 29)

In [8]:
y

array([[ 3897],
       [ 7662],
       [13882],
       ...,
       [ 7229],
       [12648],
       [11753]], dtype=int64)

In [9]:
y.shape

(10682, 1)

Let us normalize our input and output.

In [ ]:
# data normalization with sklearn
from sklearn.preprocessing import MinMaxScaler,StandardScaler

# fit scaler on training data
# normX = MinMaxScaler().fit(X)
# normy = MinMaxScaler().fit(y)

# transform input data
# X = normX.transform(X)
# y = normy.transform(y)
scaler = StandardScaler() 
X_scaled = scaler.fit_transform(X)
y_scaled = scaler.fit_transform(y)